<% provide(:title, "Edit profile") %>

<h1>Update profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1 class = "center"> 
      <% if @person.picture? %>
        <%= image_tag( @person.picture.url, width: '150') %>
      <% else %>
        <%= gravatar_for @person %>
      <% end %>
      
    </h1>

    <%= form_for(@person, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Display Name" %>
      <%= f.text_field :name, class: 'form-control' %>
      

      <%= f.label :email, "Username/Email" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :picture, "Profile Image" %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>
       
      <%= f.label :summary, "About Me (optional)" %>
      <%= f.text_area :summary, class: 'form-control' %>
      
      <%= f.label :team, "Favorite Team(s)" %>
      <%= f.text_field :team, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>


      <%= f.submit "Save changes", class: "btn btn-primary" %>
      
<!--      <span class="picture"> -->
<!--        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %> -->
<!--      </span>    -->  
      
    <% end %>


    <div class="gravatar_edit">

<!--      <%= gravatar_for @person %> -->
<!--      <a href="http://gravatar.com/emails" target=_blank>change</a> -->

    </div>
  </div>
</div>

