<% provide(:title, 'Sign up') %>

<div class="center">
  <h1>Welcome!</h1>
  <h4>Accepting new sign ups beginning February 2015</h4>
  <h5>(or see below to sign up as a beta user)</h5><br/>

  
  <div class="center jumbotron">
    <%= image_tag "linden-canucks.jpg" %>
  </div>
  
</div>


<div class="center">

  <h3>Beta user sign up</h3>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@person) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
  
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
  
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
  
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
  
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.label :team %>
        <%= f.text_field :team, class: 'form-control' %>
        
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <br><br>
  <h4>Help <%= link_to "test drive", login_path %> and beta test Discover Hockey</h4>
  <h5>Your comments and feedback are welcome!!</h5><br/>

</div>

