<% provide(:title, 'Sign up') %>

<div class="center">
  <h1>Sign up</h1>
  
</div>


<div class="center">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@person) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
  
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
  
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
  
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
  
        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.label :team, "Favorite Team" %>
        <%= f.text_field :team, class: 'form-control' %>
        
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <br><br>
  <h4>Thanks for helping <%= link_to "test drive", login_path %> Discover Hockey</h4>
  <h5>Your comments and feedback are welcome!!</h5><br/>

</div>

<div class="center jumbotron">
  <%= image_tag "linden-canucks.jpg" %>
</div>
  
