<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    
    <section class="person_info">
      <%= gravatar_for @person %>
      <h1><%= @person.name %></h1>
      <span><%= link_to "View my profile", @person %></span>
      <span><b>Posts:</b> <%= @person.posts.count %></span>
    </section>
    
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @people.any? %>
        <div class="person_avatars">
          <% @people.each do |person| %>
            <%= link_to gravatar_for(person, size: 30), person %>
          <% end %>
        </div>
      <% end %>
    </section>
    
  </aside>
  
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @people.any? %>
      <ul class="people follow">
        <%= render @people %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
  
</div>
