<% provide(:title, @person.name) %>

<!-- <%= @person.name %>, <%= @person.email %>  -->

<div class = "row">

  <aside class = "col-md-4">


    <section class = "person_info">

      

      <h1> 
        <% if @person.picture? %>
          <%= image_tag( @person.picture.url, width: '250') %>
        <% else %>
          <%= gravatar_for @person %>
        <% end %>
        
      </h1>
      
      <h1>
        <br/>
        <%= @person.name %>

      </h1>

      <p><%= @person.summary%></p>
      
      <!-- <p>Name: <%= @person.name%></p> -->
      <!-- <p>Email: <%= @person.email%></p> -->
      
      <p>Favorite team: <%= @person.team%></p>

      
    </section>
    
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>    
 

    
  </aside>


  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>

    <% if @person.posts.any? %>
      <h3>Posts (<%= @person.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
  
</div>

