<li id="post-<%= post.id %>">
  
          <% if post.person.picture? %>
          <%= link_to image_tag( post.person.picture.url, width: '80'), post.person %>
        <% else %>
          <%= link_to gravatar_for(post.person, size: 20), post.person %>
        <% end %>
  
  
  <!-- <%= link_to gravatar_for(post.person, size: 20), post.person %> -->
  
  <span class="person"><%= link_to post.person.name, post.person %></span>
  
  <span class="content">
    <%= post.content %>
    <%= image_tag post.picture.url if post.picture? %>

  </span>  

  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.

    <% if current_person?(post.person) %>
      <%= link_to "delete", post, method: :delete,
      data: { confirm: "Are you sure?" } %>
    <% end %>
    
  </span>
  
</li>