<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.person, size: 50), post.person %>
  <span class="person"><%= link_to post.person.name, post.person %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>